@import columnal/grid
@import compass/css3
@import colors

body
  background: $dark_brown url(image-path("bg.jpg")) no-repeat top center
  header
    +grid-container
  #content_container
    +grid-container
    #content
      +grid-row
      background: $ice
      margin-top: 5em
      padding: 1em
      border: 0.4em solid $white
      +border-radius(0.2em)
      +box-shadow($gray 0px 0px 20px inset)
  footer
    +grid-container
    margin-top: 5em
    padding-top: 2em
    padding-bottom: 7em
    font-size: 1.5em
    .content
      +grid-row
      .logo
        +grid(9)
      .tagline
        +grid(3)
        +last
        text-transform: uppercase
        .first
          color: $pink
        .second
          color: $brown_pink
