@import columnal/grid
@import compass/utilities
@import colors

body[data-controller-class="StaticController"][data-action="Index"]
  .box
    padding: 2em
    +clearfix
    #video
      +grid(6)
      min-height: 374px
      @media handheld, only screen and (max-width: 767px)
        min-height: 220px
    #about
      +grid(6)
      +last
      h1
        margin-bottom: 0
      h2
        margin-top: 0
      h3
        font-size: 1.1em
      #description
        font-size: 1.3em
        line-height: 1.2em
      .send
        +grid(12)
        +last
      .follow
        margin-top: 1.6em
        +grid(12)
        +last
        .social
          display: none
          +grid(12)
          +last
          background: $yellow
          +border-bottom-left-radius(8px)
          +border-bottom-right-radius(8px)
          .twitter
            float: left
            padding: 1em
          .facebook
            float: right
            padding: 1em
