@import compass/css3
@import compass/utilities
@import colors

@import 960/grid
$ninesixty-columns: 16

body[data-controller-class="StaticController"][data-action="Index"]
  #about
    +grid(5)
    +grid-prefix(1)
    +alpha
    +omega
    width: 290px
    h1
      margin-bottom: 0
    h2
      margin-top: 0
    h3
      font-size: 1.1em
    #description
      color: $dark_gray
      font-size: 1.15em
      line-height: 1.1em
    #call_to_action
      +grid(5)
      +alpha
      +omega
      .send
        margin-top: 0.4em
      .follow
        margin-top: 1.3em
        .social
          +clearfix
          display: none
          background: $yellow
          +border-bottom-left-radius(8px)
          +border-bottom-right-radius(8px)
          .twitter
            float: left
            padding: 0.8em 1em 0.8em 1em
          .blog
            float: left
            padding: 0.8em 0.2em
            a
              font-family: Arial
              font-weight: bold
              font-size: 0.7em
              text-decoration: none
              color: $light_black
              line-height: 1.7em
              padding: 0 0.4em 0 0.2em
              display: block
              background: $ice
              border: 1px solid $gray
              +border-radius(3px)
              +background-image(linear-gradient(top, $ice, darken($ice, 5%)))
              img
                width: 14px
                vertical-align: middle
                margin-top: -2px
                margin-right: 4px
              &:hover
                +background-image(linear-gradient(bottom, $ice, darken($ice, 5%)))
          .facebook
            float: left
            padding: 0.8em 0em 0.8em 1em
  #video
    +grid(9)
    min-height: 354px
